body {
  background-image: url("../aboutus/abstract-banner-background-with-red-shapes_1361-3348.jpg");
  background-attachment: fixed;
  background-size: 100%;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

.heading {
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 3px;
  margin-bottom: 10rem;
  text-align: center;
  color: rgb(255, 255, 255);
  position: relative;
  
}

.heading:hover {
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 3px;
  margin-bottom: 10rem;
  text-align: center;
  color: rgb(255, 182, 45);
  position: relative;
}
.card-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: center;
}

.card {
  width: 32rem;
  height: 30rem;
  background-color: mistyrose;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8rem 2rem;
  box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.2);
}

.card .profil-img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  margin-top: -10rem;
  z-index: 999;
  border: 0.5rem solid #ebeef8;
}

.card h1 {
  font-size: 2.5rem;
  color: #333;
  margin: 1.5rem 0;
}

.job-title {
  color: #777;
  font-size: 1.5rem;
  font-weight: 300;
}

.about {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-style: italic;
  text-align: center;
  color: #333;
}

.card .btn {
  padding: 1rem 2.5rem;
  background-color: dodgerblue;
  margin-top: 2rem;
  text-transform: uppercase;
  color: white;
  font-size: 1.4rem;
  transition: all 0.5s;
  text-decoration: none;
  border-radius: 2rem;
}

.card .btn:hover {
  transform: translateY(2px);
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  color: black;
}

.social-media {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
  margin-top: 2rem;
  border-top: 1px solid rgba(0, 0, 0, 1);
}

.social-media i {
  font-size: 3rem;
  transition: color 0.5s;
  margin-top: 0.5rem;
}

.fa-facebook-square {
  color: #020091;
}

.fa-envelope-square {
  color: rgb(187, 41, 41);
}

.fa-instagram {
  color: #ff0000;
}

.fa-facebook-square:hover,
.fa-envelope-square:hover,
.fa-instagram:hover {
  color: rgb(255, 251, 251);
}


.nim {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  height: 50px;
  border-bottom-style: solid;
}

.nim:hover {
  color: red;
}
.nama {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-size: 25px;
  transition: all 0.5s ;
}

.nama:hover {
  color: red;
}
